---
---
<div
  class="prose max-w-none mx-auto dark:prose-invert text-gray-400
  prose-h2:text-gray-200 prose-h3:text-gray-200
  prose-a:text-blue-400 prose-p:text-justify      
  dark:prose-pre:text-gray-200 
  prose-pre:p-2.5 
  prose-pre:border 
  prose-pre:border-gray-100 
  dark:prose-pre:border-gray-800 
  prose-pre:rounded-lg">
  <slot />
</div>