---
---
<div
  class="prose w-full max-w-screen-md mx-auto text-gray-400
  prose-h2:text-gray-200 prose-h3:text-gray-200
  prose-a:text-blue-400 prose-p:text-justify      
  prose-pre:p-2.5 
  prose-pre:border
  prose-pre:border-gray-800 
  prose-pre:rounded-lg">
  <slot />
</div>