---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title } = Astro.props;
---

<html lang="en" class="w-full h-full">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <Header title={title} />
    </head>

    <body
        class="w-full h-full flex flex-col items-center bg-gray-900 text-gray-400"
    >
        <header class="w-[80%] flex justify-between align-center p-8">
            <h2 class="text-xl text-white">chico.dev!</h2>
            <nav class="navbar w-[15%] flex gap-4 align-center text-sm">
                <a href="#">Blog</a>
                <a href="#">Projects</a>
                <a href="#">Talks</a>
                <a href="#">Gists</a>
            </nav>
        </header>
        <main class="w-[40%] h-full flex justify-center align-center pt-2">
            <slot />
        </main>
        <Footer />
    </body>
</html>
